<div class="container">
  <div class="content">
  </div>
</div>
<nav class="handle" >
	<a href="#dashboard" title="Watch your dashboards here"></a>
	<a href="#panel/left" title="Create your widgets here"></a>
</nav>
