<div class="selectionDesc icon-info-sign">Following, you will find all the selections you have added to the widget.<br />
The addition of new selections can be done on the left panel. <br />
You can use them in your formulas by adding the filter .childOf(#1) if you want to filter on your 1st selection for example.</div>
<div class="selections"></div>