
<div class="selectionDescr">
  <strong>Host selection panel</strong>
  <br /><br />
  This panel allows you to select the hosts you want to operate on, filtered by 3 axes.
  <br /><br />
  The intersection of <em>type</em>, <em>logic</em>, and <em>geographic</em> will, when added, be reusable in your formulas on the right panel.
</div>

<div class="separator">&nbsp;</div>

<div class="searchBar">
	<!--<input type="text" name="search" placeholder="search" /><input type="submit" value="Search" />-->
</div>

<div class="selectionTree">
</div>

<div class="buttonBar">
	<input class="addSelectionButton" type="submit" value="Add" /><input class="cancelSelectionButton" type="submit" value="Cancel" />
</div>