<header>
  <div class="header-upperbar">
    <h1 class="title">Beekeeper</h1>
    <div class="login dropdown">
      <a class="dropdown-toggle name icon-user" data-toggle="dropdown" title="Dashboard Settings" href="#login"></a>
      <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="userMenu">
        <li>
          <a tabindex="-1" id="updatePassword" href="#updatePassword" class="icon-lock">Change password</a>
        </li>
        <li>
          <a tabindex="-1" href="#logout" class="icon-signout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header-lowerbar">
    <nav>
      <ul class="nav-tabs">
        <li data-create-dashboard class="newDash">
          <div class="icon-plus-sign glow-icon"></div>
        </li>
      </ul>
    </nav>
  </div>
</header>

